<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spark - Find your inspiration here.</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/specific.css">
</head>
<body>
<div class="content-area">

    <header class="site-header flex align-center">
        <button class="button icon-button">
            <img src="./assets/icons/home.svg" alt="">
        </button>

        <input type="text" class="search input flex-1">

        <button class="button icon-button">
            <img src="./assets/icons/add.svg" alt="">
        </button>
    </header>

    <section class="card-list">
        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/8828132/pexels-photo-8828132.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/4254970/pexels-photo-4254970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/8665572/pexels-photo-8665572.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/7681340/pexels-photo-7681340.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        </div>
    </section>


    <div class="detail-mask"></div>

    <div class="detail-stage white'">
        <div class="detail-image">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/7681340/pexels-photo-7681340.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        </div>

        <div class="detail-control">
            <button class="button icon-button">
                <img src="./assets/icons/trash.svg" alt="">
            </button>

            <button class="button icon-button" style="margin-top: auto;">
                <img src="./assets/icons/crop.svg" alt="" style="width: 70%">
            </button>

            <button class="button icon-button">
                <img src="./assets/icons/rightarrow.svg" alt="">
            </button>
        </div>
    </div>

</div>
</body>
</html>