<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spark - Find your inspiration here.</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/specific.css">
</head>
<body>
<div class="content-area">

    <header class="site-header flex align-center">
        <button class="button icon-button">
            <img src="./assets/icons/home.svg" alt="">
        </button>

        <div class="search-container flex-1">
            <input type="text" class="search input">

            <div class="search-mask"></div>
            <div class="search-suggestion">

                <div class="suggestion-group">
                    <h4 class="suggestion-title">Recent Searches</h4>
                    <div class="search-list">
                        <button class="search-item button">header</button>
                        <button class="search-item button">footer</button>
                    </div>
                </div>

            </div>
        </div>

        <button class="button icon-button">
            <img src="./assets/icons/add.svg" alt="">
        </button>
    </header>

    <section class="card-list">
        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/8828132/pexels-photo-8828132.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/4254970/pexels-photo-4254970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/8665572/pexels-photo-8665572.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/7681340/pexels-photo-7681340.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5820926/pexels-photo-5820926.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5965930/pexels-photo-5965930.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/3807547/pexels-photo-3807547.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5820926/pexels-photo-5820926.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5965930/pexels-photo-5965930.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/3807547/pexels-photo-3807547.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/3807547/pexels-photo-3807547.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5820926/pexels-photo-5820926.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/5965930/pexels-photo-5965930.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>

        <div class="card">
            <img draggable="false" class="fit" src="https://images.pexels.com/photos/3807547/pexels-photo-3807547.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
        </div>
    </section>

</div>
</body>
</html>